* {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  justify-content: space-between;
  max-height: 100vh;
  max-width: 100vw;
}
